
.container {
    height: 680px;
    width: 800px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 600px 80px;
    grid-template-columns:repeat(7, 1fr);
    grid-template-areas: "canvas canvas canvas canvas canvas canvas canvas"
                        "0 1 2 3 4 5 6";
}

.hud {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

main {
    background-image: url("https://lh3.googleusercontent.com/proxy/99p6bBsSqnM-xLemh2065908X1sxGDEhYBeSLCRm62eklDfW2lUn5BG7kj6c0Pg-NOjK-7_YHdqq7hu3FAgf8dQZ-QKHE1ihHlhrcJJZ_-F537-QA0D6C7H5lDUTox1sSA");
    background-size: 10%;
    background-repeat: repeat;
    grid-area: canvas;
}

#0 {
    grid-area: 0;
}

#1 {
    grid-area: 1;
}

#2 {
    grid-area: 2;
}

#3 {
    grid-area: 3;
}

#4 {
    grid-area: 4;
}

#5 {
    grid-area: 6;
}